In [ ]:
#Collect school news
#https://www.asia.edu.tw/EN/news1.php?y=2020
import re
from urllib import request
count = 0
sss = ["2009","2010", "2011", "2012","2013","2014","2015","2016","2017","2018","2019","2020","2021"]
pattern = '<font color="#446666" face="Arial" size="2">\['
pattern2 = '<font color="#446666" face="Arial" size="2"><b>'
titles= list()
for year in sss:
    with request.urlopen('http://www.asia.edu.tw/EN/news1.php?y='+year) as response:
        html = response.read().decode('utf-8')
        #print(html)
        for pos in re.finditer(pattern, html):
          pos2 = html.find('] </font>', pos.end())
          datestr = html[pos.end():pos2]
          pos3 = html.find(pattern2, pos2+4)+len(pattern2)
          pos4 = html.find('</b>', pos3)
          titlestr = html[pos3:pos4]
          #print(f"Date: {datestr}->Title: {titlestr}")
          titles.append(titlestr)
          count = count + 1
print (count)

In [ ]:
for t in titles:
  print(t)

In [ ]:
!rm news.db

In [ ]:
import sqlite3
conn = sqlite3.connect('news.db')
c = conn.cursor()

# Create table
c.execute("CREATE TABLE news (title text)")

conn.commit()
conn.close()

In [ ]:
#Build a database of news captions
import sqlite3
conn = sqlite3.connect('news.db')
c = conn.cursor()

# Insert a row of data
for t in titles:
    x = t.replace('"', '`')
    ss = f'INSERT INTO news VALUES ("{x}")'
    c.execute(ss)
    
# Save (commit) the changes
conn.commit()
conn.close()

In [ ]:
#查詢學校新聞標題有人工智慧
conn = sqlite3.connect('news.db')
c = conn.cursor()
for row in c.execute('''SELECT * FROM news 
                        WHERE title LIKE '%Jeffrey%' '''):
    print(row)
conn.close()